html {
  height: 170%;
} 

.info{
  width: 80px;
}
body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
 

  }

  .main-container {
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box; 
    padding: 0 20px;
  }
  
.item{
  border-radius: 50px;
  }
 
  .item {
      text-align: center;
      margin-top: 20px;
  }   
  .profile-picture {
      border-radius: 50%;
      margin-bottom: 10px;
      width: auto;
      height: auto;

      width: 200px;
      height: 200px;
  }   
  #nuevaImagen {
      display: none;
  }   
  .upload-button {
      background-color: #8803f4;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  input[type="number"], input[type="email"], input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: transparent;
  }

.btn4 {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.btn4::after,
.btn4::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn4::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn4::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn4:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn4:where(:hover, :focus) {
  color: #fff;
}



/*input*/

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; 
  outline: none; 
  background-color: transparent;
  width: 200px; 
  color: #8803f4;
}


option {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}


option:hover {
  background-color: #e0e0e0;
}




/**
 prueba
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   padding: 0;
   margin: 0;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;

 }
 
 body {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   padding: 0;
   margin: 0;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   background-color: #24282f;

   color: #fff;
   font-family: "Source Sans Pro", sans-serif;
   font-size: 1.1rem;
   line-height: 1.5;
 }
 
 p,
 ol,
 ul,
 li,
 dl,
 dt,
 dd,
 blockquote,
 figure,
 fieldset,
 form,
 legend,
 textarea,
 pre,
 iframe,
 hr,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   padding: 0;
   margin: 0;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
 }
 
 /**
  * Global Rules
  */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   color: #0d0d0d;
   font-family: Roboto, sans-serif;
   line-height: 1.2;
   word-wrap: break-word;
 }
 
 h1 {
   font-size: 40px;
 }
 
 h2 {
   font-size: 32px;
 }
 
 a,
 a:visited {
   background-color: transparent;
   color: #60666e;  
   text-decoration: none;
   border-bottom: 1px dotted;
 }
 
 a:hover,
 a:active {
   border-bottom: none;
   outline: 0;
 }
 
 a:focus {
   border-bottom: none;
   outline: thin dotted;
 }
 
 a img {
   border: 0;
 }
 
 .entry-content > *:not(:last-child) {
   margin-bottom: 1rem;
 }
 
 footer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 2rem;
 }
 
 footer .credits {
   font-size: 1rem;
 }
 
 /**
  * Article Container
  */
 .article-container {
   padding: 2rem;
 }
 
 /**
  * Article Block
  */
 .article-block {
   text-align: center;
 }
 
 .article-block .entry-content > p {
   color: #666;
 }
 
 /**
  * Tabs contenido
  */
 .tabs-container {
   padding: 2rem;
 }
 
 /**
  * Tabs Block
  */
 .tabs-block {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 

 .tabs {
   display: flex;
 }
 
 .tabs > ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 15%;
 }
 
 .tabs > ul li {
   display: block;
 }
 
 .tabs > ul li:not(:last-child) {
   border-bottom: 1px solid #262626;
 }
 
 .tabs > ul li a,
 .tabs > ul li a:visited {
   display: flex;
   border-bottom: none;
   text-decoration: none;
  

   padding: 1rem 1.5rem;
   transition: all 0.2s ease-in-out;
   word-wrap: break-word;
 }
 
 .tabs > ul li a:hover,
 .tabs > ul li a:focus,
 .tabs > ul li a:active {
   border-bottom: none;
   outline: 0;
 }
 
 .tabs > ul li a.active {
 
   color: #b800b8;
 }
 
 .tabs > ul li a:hover:not(.active) {
   color: #9900b8;
 }
 
 .tabs > ul li a > span {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
 
 .tabs > ul li a > span.tab-label {
   display: none;
 }
 
 .tabs section {
   width: 85%;
   
   padding: 1rem;
   display: none;
   word-wrap: break-word;

 }
 
 .tabs section > * {
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.2s, transform 0.2s;
 }
 
 .tabs section > *:nth-child(1) {
   transition-delay: 0.2s;
 }
 
 .tabs section > *:nth-child(2) {
   transition-delay: 0.3s;
 }
 
 .tabs section > *:nth-child(3) {
   transition-delay: 0.4s;
 }
 
 .tabs section > *:nth-child(4) {
   transition-delay: 0.5s;
 }
 
 .tabs section > *:nth-child(5) {
   transition-delay: 0.6s;
 }
 
 .tabs section > *:nth-child(6) {
   transition-delay: 0.7s;
 }
 
 .tabs section > *:nth-child(7) {
   transition-delay: 0.8s;
 }
 
 .tabs section > *:nth-child(8) {
   transition-delay: 0.9s;
 }
 
 .tabs section > *:nth-child(9) {
   transition-delay: 1s;
 }
 
 .tabs section > *:nth-child(10) {
   transition-delay: 1.1s;
 }
 
 .tabs section > *:nth-child(11) {
   transition-delay: 1.2s;
 }
 
 .tabs section > *:nth-child(12) {
   transition-delay: 1.3s;
 }
 
 .tabs section > *:nth-child(13) {
   transition-delay: 1.4s;
 }
 
 .tabs section > *:nth-child(14) {
   transition-delay: 1.5s;
 }
 
 .tabs section > *:nth-child(15) {
   transition-delay: 1.6s;
 }
 
 .tabs section > *:nth-child(16) {
   transition-delay: 1.7s;
 }
 
 .tabs section > *:nth-child(17) {
   transition-delay: 1.8s;
 }
 
 .tabs section > *:nth-child(18) {
   transition-delay: 1.9s;
 }
 
 .tabs section > *:nth-child(19) {
   transition-delay: 2s;
 }
 
 .tabs section > *:nth-child(20) {
   transition-delay: 2.1s;
 }
 
 .tabs section.active {
   display: block;
 }
 
 .tabs section.active-content > * {
   opacity: 1;
   transform: translateY(0);
 }
 @media (min-width: 576px) {
 
   .tabs > ul {
     width: 160px;
   }
 

   .tabs > ul li a > span {
     width: 100%;
   }
 
   .tabs > ul li a > span.tab-label {
     width: 100%;
     display: block;
     margin-top: 0.2rem;
   }
 
   .tabs section {
     width: calc(100% - 150px);
     padding: 2rem 2rem;
   }
 }
 @media (min-width: 768px) {
 
   body {
     font-size: 1.125rem;
   }
 
   .tabs-container {
     padding: 4rem 4rem;
   }
 }
 @media (min-width: 992px) {
 
   .tabs {
     width: 800px;
   }
 }


 .image-selection {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }

 .image-selection label {
     display: inline-block;
     margin: 0 10px;
     text-align: center;
 }

 .image-selection label img {
     width: 100px; 
     height: 100px; 
     border-radius: 50%; 
     object-fit: cover;
     border: 2px solid transparent;
     transition: border-color 0.3s ease-in-out;
     cursor: pointer;
 }

 .image-selection label img:hover {
     border-color: #000; 
 }

 .image-selection label input {
     display: none; 
 }

 
 .image-selection label input:checked + img {
     border-color: #00f; 
 }


 .tabs-container {
  width: 50%;
  min-height: 700px;

 }
 .tab-body{

  box-shadow: 0 0 20px black;

 }