    html {
    height: 100%;
    } 
    body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:#243b55;
    }
    .login-box h2 {
        color: #8803f4;
        text-align: center; 
      }
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
      }

    .login-box .user-box {
        position: relative;
    }
      
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }
    .login-box .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #8803f4;
      font-size: 12px;
    }
    #token {
      display: none;
    }
    .btn4 {
        --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
        --border-width: .125em;
        --curve-size: .5em;
        --blur: 30px;
        --bg: #080312;
        --color: #afffff;
        color: var(--color);
          /* use position: relative; so that BG is only for .btn */
        position: relative;
        isolation: isolate;
        display: inline-grid;
        place-content: center;
        padding: .5em 1.5em;
        font-size: 17px;
        border: 0;
        text-transform: uppercase;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
        clip-path: polygon(
                  /* Top-left */
                  0% var(--curve-size),
    
                  var(--curve-size) 0,
                  /* top-right */
                  100% 0,
                  100% calc(100% - var(--curve-size)),
    
                  /* bottom-right 1 */
                  calc(100% - var(--curve-size)) 100%,
                  /* bottom-right 2 */
                  0 100%);
        transition: color 250ms;
      }
      
      .btn4::after,
      .btn4::before {
        content: '';
        position: absolute;
        inset: 0;
      }
      
      .btn4::before {
        background: var(--border-color);
        background-size: 300% 300%;
        animation: move-bg7234 5s ease infinite;
        z-index: -2;
      }
      
      @keyframes move-bg7234 {
        0% {
          background-position: 31% 0%
        }
    
        50% {
          background-position: 70% 100%
        }
    
        100% {
          background-position: 31% 0%
        }
      }
      
      .btn4::after {
        background: var(--bg);
        z-index: -1;
        clip-path: polygon(
                  /* Top-left */
                  var(--border-width) 
                  calc(var(--curve-size) + var(--border-width) * .5),
    
                  calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
    
                  /* top-right */
                  calc(100% - var(--border-width)) 
                  var(--border-width),
    
                  calc(100% - var(--border-width)) 
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
                  /* bottom-right 2 */
                  var(--border-width) calc(100% - var(--border-width)));
        transition: clip-path 500ms;
      }
      
      .btn4:where(:hover, :focus)::after {
        clip-path: polygon(
                      /* Top-left */
                      calc(100% - var(--border-width)) 
    
                      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
          
                      calc(100% - var(--border-width))
    
                      var(--border-width),
          
                      /* top-right */
                      calc(100% - var(--border-width))
    
                       var(--border-width),
          
                      calc(100% - var(--border-width)) 
    
                      calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
          
                      /* bottom-right 1 */
                      calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                      calc(100% - var(--border-width)),
    
                      /* bottom-right 2 */
                      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                      calc(100% - var(--border-width)));
        transition: 200ms;
      }
      
      .btn4:where(:hover, :focus) {
        color: #fff;
      }
        p.error-message {
            color: red;
            margin-top: 15px;
        }