body { font-family: sans-serif; 
    background-color:#050720;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilos para las celdas del encabezado */
th {
    background-color: #5436bf;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Estilos para las celdas de datos */
td {
    padding: 8px;
    text-align: left;
}

/* Estilos para las filas impares (alternar color de fondo) */
tr:nth-child(odd) {
    background-color: #1c1b1b;
}

/* Estilos para el botón de repartidor */
.repartidor-btn {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

/* Estilos específicos para el botón cuando está en estado "Repartidor Enviado" */
.repartidor-btn[style*="background-color: green"] {
    background-color: green;
}

/* Estilos específicos para el botón cuando está en estado "Repartidor No Enviado" */
.repartidor-btn[style*="background-color: red"] {
    background-color: red;
}